.local {
    width: 90%;
    background-color: rgb(192, 229, 223);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 850px;
}

.vantagens {
    width: 90%;
    background-color: rgb(208, 229, 192);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 850px;
}

h1,
p,h3,h4 {
    text-align: center;
    margin-top: 0;
}

img {
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 4%;
}

table {
    text-align: center;
    margin: auto;
}

th {
    color: rgb(50, 103, 95);
}

a {
    color: rgb(50, 103, 95);
}

a:visited {
    color: rgb(50, 103, 95);
}

a:hover {
    color: rgb(50, 103, 95);
}

a:active {
    color: rgb(50, 103, 95);
}

.home {
    height: 22px;
    width: auto;
    margin-top: 25px;
}

.vtg {
    margin-top: 10px;
}

.edt{
    color:rgb(7, 37, 8)
}